{
  "root": true,
  "extends": [
    "@antfu"
  ],
  "rules": {
    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "off",
    "no-sequences": "off",
    "no-alert": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "error",
          "log"
        ]
      }
    ],
    "vue/component-tags-order": "off",
    "vue/define-macros-order": ["error", {
      "order": ["defineProps", "defineEmits"]
    }],
  },
  "overrides": [
    {
      "files": [
        "**/test/**",
        "docs/**"
      ],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}