:root[data-theme="light"] {
  --pl-dropdown-text-color: var(--pl-gray-800);
  --pl-dropdown-bg-color: white;
  --pl-dropdown-header-border: 1px solid var(--pl-gray-200);
  --pl-dropdown-divider-color: var(--pl-gray-200);
}

:root[data-theme="dark"] {
  --pl-dropdown-text-color: var(--pl-gray-400);
  --pl-dropdown-bg-color: var(--pl-gray-800);
  --pl-dropdown-header-border: 1px solid var(--pl-gray-700);
  --pl-dropdown-divider-color: var(--pl-gray-700);
}

.pl-dropdown {
  position: relative;
  display: inline-block;

  &-title {
    text-transform: uppercase;
    color: var(--pl-gray-400);
  }

  &-divider {
    width: 95%;
    margin: auto;
    border-top: 1px solid var(--pl-dropdown-divider-color);
  }

  &-button {
    width: 100%;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &--disabled {
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &-menu {
    display: inline-flex;
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 218px;
    height: fit-content;
    padding: 8px;
    background-color: var(--pl-dropdown-bg-color);
    border-radius: 8px;
    border: 1px solid var(--pl-dropdown-bg-color);
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.04), 0px 4px 3px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;

    &--open {
      opacity: 1;
      pointer-events: auto;

    }

    .pl-button {
      width: 100%;
      margin-bottom: 0 !important;
    }
  }

  .pl-button {
    margin-bottom: 10px;
  }

  &-children &-menu {
    top: 0;
    // left: 100%;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}